#root {
  /* margin: 0 auto; */
  /* padding: 1rem 2rem; */
  text-align: center;
  min-height: 100vh;
  @apply bg-AppBackground;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
